.myBtnFive {
    color: #4682B4;
    font-size: 18px;
    text-decoration: underline;
    background: transparent;
    padding: 0px 15px 20px;
    cursor: pointer;
    border: none;
}

.myBtnFive:hover {
    color: #FFFFFF;
}

